.navbar {
  backdrop-filter: blur(4px) saturate(55%);
  -webkit-backdrop-filter: blur(4px) saturate(55%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
